@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/search.css" rel="stylesheet" />
<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Scripts/DTP/jquery.datepick.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/Scripts/DTP/jquery.plugin.js"></script>
<script src="~/Scripts/DTP/jquery.datepick.js"></script>

<script type="text/javascript">
    $(function ()
    {

        $('#validRangePicker').datepick({
            rangeSelect: true, minDate: 0, showTrigger: '#calImg'
        });
    });
</script>
<div class="jumbotron" style="position: relative;">
    <img src="https://www.oyorooms.com/images/TVC/sunrise-checkin-2febf97f5f3fd2a014933fb9ec94d03c.png" style="bottom:30px;left:30px;position:absolute;" />
</div>
<div class="row" ng-app="MainApp" ng-controller="MainCtrl">

    @using (Html.BeginForm("SaveOpportunitie", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "opportunitie", name = "opportunitie" }))
    {

        @Html.AntiForgeryToken()
        @functions{
            public string GetAntiForgeryToken()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;
            }
        }
        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />
        <div class="row">
            <div id="form_success" class="alert alert-success fade in" style="display:none"></div>
            <div id="form_errors" class="alert alert-danger fade in" style="display:none"></div>
        </div>
        <div class="row">
            <div class="col-md-3">

                <i class="searchbar__placeIcon  js-inbox-element"></i>
                <input type="text" id="location" name="location" placeholder="Location" class="form-control" ng-model="location" ng-change="TextOnchange()" typeahead="state for state in states | filter:$viewValue | limitTo:10" style="display: block; width: 100%; height: 34px; padding: 6px 40px; font-size: 14px; line-height: 1.42857143; color: #555; -color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px;" ng-required="true">
                @*<p ng-show="opportunitie.location.$invalid" style="color:#EF3848">Location required.</p>*@
            </div>
            <div class="col-md-3">

                <i class="searchbar__calendarIcon"></i>
                <input type="text" id="validRangePicker" name="duration" ng-model="duration" class="form-control" placeholder="Check-in - Check-out" ng-required="true" readonly aria-label="Readonly field" style="display: block; width: 100%; height: 34px; padding: 6px 40px; font-size: 14px; line-height: 1.42857143; color: #555; cursor: pointer; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px;" />
                @*<p ng-show="opportunitie.duration.$invalid" style="color:#EF3848">Duration Required!!</p>*@
            </div>
            <div class="col-md-2">
                <select class="form-control" id="room" name="room" placeholder="Room" ng-model="room" required ng-options='option.value as option.name for option in roomOptions' ng-change="DropDownChnaged()" style="padding: 6px 40px;"></select>
                <i class="searchbar__guests--guestIcon"></i>
                @*<p ng-show="opportunitie.room.$invalid" style="color:#EF3848">Room Required!!</p>*@
            </div>
            <div class="col-md-4">
                <span ng-bind-html="newui | unsafe"></span>
                <div class="row" ng-if="isshow"><div class="col-md-12"><button type="button" class="btn btn-info btn-block" name="savedata" ng-click="SaveData()" style="background-color:#C4921B;color:#25000C;border-color: #C4921B">Search</button></div></div>
            </div>
        </div>
    }

</div>
<script type="text/javascript">

    var app = angular.module('MainApp', ['ngAnimate', 'ngSanitize', 'ngAutocomplete', 'ui.bootstrap']);


    app.controller('MainCtrl', function ($scope, $http, $q)
    {
        $scope.roomOptions = [{ name: '- Rooms -', value: 0 }, { name: 'Room 1', value: 1 }, { name: 'Room 2', value: 2 },
            { name: 'Room 3', value: 3 }, { name: 'Room 4', value: 4 }, { name: 'Room 5', value: 5 }, { name: 'Room 6', value: 6 },
            { name: 'Room 7', value: 7 }, { name: 'Room 8', value: 8 }, { name: 'Room 9', value: 9 }];



        $scope.room = $scope.roomOptions[0].value;
        $scope.DropDownChnaged = function ()
        {
            $scope.DropDownStatus = $scope.room;
            var roomid = 1;

            var newui = "";
            while (roomid <= $scope.DropDownStatus)
            {
                var ui = "<div class='row'><div class='col-md-4'><label ng-model='roomid" + roomid + "' id='roomid" + roomid + "' class='form-control'>Room " + roomid + "</label></div><div class='col-md-4'><select ng-model='adult" + roomid + "' id='adultid" + roomid + "' class='form-control' placeholder='Adult' required><option value='0' selected>- Adult -</option><option value='1' >Adult 1</option><option value='2'>Adult 2</option><option value='3' >Adult 3</option></select></div><div class='col-md-4'><select ng-model='child" + roomid + "'id='childid" + roomid + "' class='form-control' placeholder='Child' required><option value='0' selected>- Child -</option><option value='1'>Child 1</option><option value='2'>Child 2</option><option value='3'>Child 3</option></select></div></div>";
                newui = newui + ui;
                roomid = roomid + 1;
            }
            if ($scope.room > 0)
            {
                $scope.isshow = true;
            }
            else
            {
                $scope.isshow = false;
            }
            $scope.newui = newui;
        };

        $scope.TextOnchange = function ()
        {

            if (($scope.location != undefined) && ($scope.location != null))
            {
                var deferred = $q.defer();

                $http({
                    type: 'GET',
                    url: "https://api.teleport.org/api/cities/?search=" + $scope.location,
                    async: true
                }).then(function mySucces(response)
                {
                    var city = [];
                    var i;
                    for (i = 0; i < response.data._embedded["city:search-results"].length; ++i)
                    {
                        city.push(response.data._embedded["city:search-results"][i].matching_full_name);
                    }


                    $scope.states = city;
                    deferred.resolve($scope.states);

                })
                    , function myError(response)
                    {

                        $scope.states = [];

                    }
                return deferred.promise;

            }
            else
            {
                $scope.states = [];
            }

            $scope.selected = undefined;
        };

        $scope.Validate = function ()
        {
            if ($("#location").val() == '')
            {                
                bootstrap_alert('#form_errors', 'Please Select Location.', 2000)
                $("#location").focus();
                return false;
            }
            if ($("#validRangePicker").val() == '')
            {                
                bootstrap_alert('#form_errors', 'Please Select Duration.', 2000)
                $("#validRangePicker").focus();
                return false;
            }
            if ($("#adultid1").val() == '0' && $("#childid1").val() == '0')
            {
               
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 1.', 2000)
                $("#adultid1").focus();
                return false;
            }
            if ($("#adultid2").val() == '0' && $("#childid2").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 2.', 2000)
                $("#adultid2").focus();
                return false;
            }
            if ($("#adultid3").val() == '0' && $("#childid3").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 3.', 2000)
                $("#adultid3").focus();
                return false;
            }
            if ($("#adultid4").val() == '0' && $("#childid4").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 4.', 2000)
                $("#adultid4").focus();
                return false;
            }
            if ($("#adultid5").val() == '0' && $("#childid5").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 5.', 2000)
                $("#adultid5").focus();
                return false;
            }
            if ($("#adultid6").val() == '0' && $("#childid6").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 6.', 2000)
                $("#adultid6").focus();
                return false;
            }
            if ($("#adultid7").val() == '0' && $("#childid7").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 7.', 2000)
                $("#adultid7").focus();
                return false;
            }
            if ($("#adultid8").val() == '0' && $("#childid8").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 8.', 2000)
                $("#adultid8").focus();
                return false;
            }
            if ($("#adultid9").val() == '0' && $("#childid9").val() == '0')
            {
                bootstrap_alert('#form_errors', 'Please Select Adult or Child for Room 9.', 2000)
                $("#adultid9").focus();
                return false;
            }
        };

        $scope.SaveData = function ()
        {
            if ($scope.Validate() == false)
            {
                return false;
            }
            var location = "location:" + $("#location").val();
            var duration = "fromto:" + $("#validRangePicker").val();
            var rooms = "total:" + $("#room").val().replace("number:", "");
            var i = 1;
            var strdata = '';
            var strmsg = "";

            while (i <= $("#room").val().replace("number:", ""))
            {

                var stradult = "#adultid" + i;
                var strchild = "#childid" + i;
                strdata = strdata + "room" + i + ":" + i + ",adult" + i + ":" + $(stradult).val() + ",child" + i + ":" + $(strchild).val() + "#"
                i = i + 1;
            }
            strmsg = { 'strmsg': location + "#" + duration + "#" + rooms + "#" + strdata }
            $http({
                async: true,
                method: "POST",
                url: '@Url.Action("SaveOpportunitie", "Home")',
                params: strmsg,
                dataType: "json",
                headers: { '__RequestVerificationToken': $scope.antiForgeryToken }
            }).then(function mySucces(response)
            {
                if (response.data != null)
                {
                    if (response.data.result == true)
                    {
                        bootstrap_alert('#form_success', 'Preferance saved successfully.', 2000)
                    }
                }
            }, function myError(response)
            {
                $scope.myWelcome = response.statusText;
            });
        };
    });

    app.filter('unsafe', function ($sce)
    {
        return function (val)
        {
            return $sce.trustAsHtml(val);
        };
    });


    function bootstrap_alert(elem, message, timeout)
    {

        $(elem).show().html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>' + message + '</span>');

        if (timeout || timeout === 0)
        {
            setTimeout(function ()
            {
                $(elem).hide();
            }, timeout);
        }
    };
</script>
<script src="~/Scripts/ngAutocomplete.js"></script>
<style>
    pre.prettyprint {
        width: 600px;
        overflow: auto;
    }

        pre.prettyprint > code {
            width: initial;
            word-wrap: normal;
            white-space: pre;
        }

    /* fix height so won't jump around page */
    .demo-space {
        height: 100px;
    }

    .animate-show {
        -webkit-transition: all ease-out 2s;
        -moz-transition: all ease-out 2s;
        -o-transition: all ease-out 2s;
        transition: all ease-out 2s;
        line-height: 20px;
        opacity: 1;
    }

        .animate-show.ng-hide-remove.ng-hide-remove-active {
            background: #37ff25; /* green */
        }

        .animate-show.ng-hide-add.ng-hide-add-active {
            background: #ff2537; /* red */
        }

        .animate-show.ng-hide {
            line-height: 0;
            opacity: 0;
        }

    .settingsForm .form-group {
        padding-bottom: 5px;
        border-bottom: 1px solid lightgrey;
    }
</style>

